@import "mixins";

/****
* CraftSupportWidget.scss
*****/

.cs-screen-2 .cs-search-results-container {
  background: $lightBgColor;
}

.cs-screen-home .cs-opt:not(:first-child) {
  border-top: 1px solid $hairlineColor;
}

.cs-screen-home .cs-opt:hover {
  background: $lightBgColor;
}


/****
* main.scss
****/

@at-root body#{&} {
  background: $bgColor;
}

/* submit buttons */
.btn.submit {
  color: #fff;
  background-image: linear-gradient($submitColor, darken($submitColor, 20%));
  @include light-on-dark-text;
}

.btn.submit:not(.disabled):not(.inactive):hover,
.btn.submit:not(.disabled):not(.inactive).hover {
  background-image: linear-gradient($submitHoverColor, darken($submitHoverColor, 20%));
}

.btn.submit:not(.disabled):not(.inactive):active,
.btn.submit:not(.disabled):not(.inactive).active {
  background-image: linear-gradient($submitActiveColor, darken($submitActiveColor, 20%));
}

.secondary-buttons .btn.submit {
  background-image: linear-gradient($secondarySubmitColor, darken($secondarySubmitColor, 20%));
}

.secondary-buttons .btn.submit:not(.disabled):not(.inactive):active,
.secondary-buttons .btn.submit:not(.disabled):not(.inactive).active {
  background-image: linear-gradient($secondarySubmitActiveColor, darken($secondarySubmitActiveColor, 20%));
}

.secondary-buttons .btn.submit:not(.disabled):not(.inactive):hover,
.secondary-buttons .btn.submit:not(.disabled):not(.inactive).hover {
    background-image: linear-gradient(lighten($secondarySubmitHoverColor, 4%), darken($secondarySubmitHoverColor, 16%));
}

.footer > .buttons {
  margin: 0;
}

.modal,
.hud .body {
  background: $menuBgColor;
}

.btn {
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(245,245,245,0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  color: $textColor;
  &:focus {
    box-shadow: inset 0 0 0 1px $blue, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  &:active,
  &.active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0.5px 1px rgba(0, 0, 0, 0.15);
  }
  &:not(.submit) {
    color: $textColor;
    background-image: linear-gradient(lighten($buttonBgColor, 4%),$buttonBgColor);

    &:hover{
        background-image: linear-gradient(lighten($buttonBgColor, 8%),lighten($buttonBgColor, 4%));
    }

    &:active,
    &.active {
      background-image: linear-gradient(lighten($buttonBgColor, 6%),lighten($buttonBgColor, 2%));
    }
  }

}

table thead th {
  color: rgba(255, 255, 255, 0.5);
  @include padding-right(14px);
}

table thead th.ordered {
  @include padding-right(14px);
  background: rgba(255,255,255,0.1) url(../images/listview_sort.png) no-repeat;
}

table thead th.orderable:hover {
  background-color: rgba(255,255,255,0.05);
  cursor:pointer;
}

input.checkbox + label:before,
div.checkbox:before {
  background: lighten($buttonBgColor, 10%);
  box-shadow: 0 0 0 1px $mediumHairlineColorAlpha;
}

.checkbox{
    color:$mediumTextColor;
}

.toolbar {
  &.fixed {
    background: $lightBgColor;
    //box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
}

.lightswitch{
    .label.off,
      &:not(.dragging):not(.on) .label.on {
        background: hsl($hue, 0%, 65%);
      }
}

ul.icons li a {
  border: 1px solid $lightBgColor;
}

ul.icons li a:hover {
  background-color: lighten($lightBgColor, 4%);
  border-color: $hairlineColor;
}

ul.icons li a svg *{
    fill: $mediumTextColor;
}

.select:not(.selectize) select {
  option {
    background: $buttonBgColor;
  }
}

.modal-shade {
  &:not(.dark) {
    background: rgba(0, 0, 0, 0.75) !important;
  }

  &.dark {
    background: rgba(0, 0, 0, 0.75) !important;
  }
}

.header,
.hud-header {
  background-image: linear-gradient($menuBgColor, $menuBgColor);
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}

.footer,
.hud-footer {
  background-image: linear-gradient(darken($menuBgColor, 3%), darken($menuBgColor, 4%));
  box-shadow: inset 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}

.token:focus {
  border-color: $hairlineColorAlpha;
  background: $lightBgColor;
  outline: none;
}

table.editable tbody tr td {
    background: $lightBgColor;
    background-color: $lightBgColor;
}

.shadow-box {
  border: 1px solid $hairlineColor;
}

table.editable tbody tr th ~ td:not(:first-child) {
    border-left: 1px solid $hairlineColor;
}

.customize-sources-item {
  background: $lightBgColor;
}
.customize-sources-item.sel {
  background: $darkSelColor;
}

.sidebar .customize-sources {
  color: rgba(255, 255, 255, 0.2);
}

/****
* _cp.scss
****/

#main-container #main #main-content #content-container #content {
    background-color: $lightBgColor;
}

@media only screen and (max-width: $minHorizontalUiWidth - 1px) {
  #main-container {
    #main {
      #main-content {
        #sidebar-toggle {
          showing-sidebar & {
            background: lighten($lightBgColor, 6%);
          }
        }
      }
    }
  }
}

#main-container #main #main-content #content-container #tabs ul li a.sel {
    background: $lightBgColor;
}

#main-container #main #main-content #content-container #tabs ul li a.sel:after,
#main-container #main #main-content #content-container #tabs ul li a:after {
    background: none;
}

#main-container #main #main-content #content-container #tabs:after {
    background: linear-gradient(to bottom, $lightBgColor, rgba($lightBgColor, 0));
}

#app-info {
  color: #da5a47;
  #edition #edition-logo {
    border: 1px solid #da5a47;
  }
}

.lp-editor-container, .lp-iframe-container {
    background: $lightBgColor;
}

#main-container #main #main-content #details .meta>.field>.heading>label, #main-container #main #main-content #details .meta>.field>.heading, #main-container #main #main-content #details .meta>.data>.heading>label, #main-container #main #main-content #details .meta>.data>.heading {
    color: $mediumDarkTextColor;
}

#main-container .sidebar {
    box-shadow: inset -1px 0 0 #1a1a1a;
}

/****
* updates.scss
****/

#content .update .update-header{
    border-bottom: 1px solid $hairlineColor;
}

/****
* routes.scss
****/

.route {
    background: $lightBgColor;
    box-shadow: 0 0 0 1px $hairlineColor;
    background-image: linear-gradient($lightBgColor, darken($lightBgColor, 1%));
    cursor: pointer;
}

.route .uri-container {
    color: $linkColor;
    background-color: darken($lightBgColor, 4%);
}

.route-settings .uri-tokens {
  background: $inputElementBgColor;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
  .route .uri-container:after {
    background-size: 15px 32px;
    background-image: none !important;
  }
}

/****
* _fld.scss
****/

.fld-tab.draghelper .tabs .tab,
.fld-tab.draghelper .fld-tabcontent,
.fld-field.draghelper {
  background: $lightBgColor;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
}

.fld-tab.draghelper .tabs .tab {
  border-bottom-color: #fff;
}


/****
* plugins.scss
****/

#plugins tbody .plugin-infos .details .license-key .pane {
    background: #000;
}


/****
* pluginstore/main.scss
****/

.ps-grid-wrapper ul.categories li:before,
.ps-grid-wrapper ul.categories li:last-child:after{
    border-top: 1px solid $hairlineColor;
}

ul.categories li a:hover {
    background: $darkSelColor;
    border-color: $hairlineColorAlpha;
}

.plugin-card {
    border: 1px solid $hairlineColor;
    &:hover{
        background-color: $darkSelColor;
    }
}

/****
* pluginstore/modal.scss
****/

#pluginstore-modal.step-plugin-details .plugin-details .plugin-details-header {
    border-bottom: 1px solid $hairlineColor;
}

#pluginstore-modal.step-plugin-details .plugin-details .plugin-details-body .plugin-sidebar {
    background: $lightBgColor;
    border-left: 1px solid $hairlineColor;
    overflow: auto;
}

#pluginstore-modal.step-plugin-details .plugin-details .plugin-details-body .plugin-sidebar .plugin-meta ul.plugin-meta-data li {
    border-bottom: 1px solid $hairlineColor;
}

#pluginstore-modal.step-plugin-details .plugin-details .plugin-details-body .plugin-sidebar .plugin-meta ul.plugin-meta-data {
    border-bottom: 1px solid $hairlineColor;
}

/****
* dashboard.scss
****/

.widget > .back > .pane {
  background: $lightBgColor;
}


/****
* Text input and redactor
****/

textarea,
.text:not(.selectize-text),
.text:not(.fullwidth),
.border-box,
.selectize-text>.selectize-control>.selectize-input,
.redactor-box, .redactor-box.redactor-styles-on,
.input .redactor-styles,
{
    color: darken($textColor, 10%);
    background-color: $inputElementBgColor;
}

//Tweak for meta popups which look rubbish with dark inputs
.meta>.field>.input>.text,
.meta>.field>.input>.flex>.text,
.meta>.field>.input>.flex>.textwrapper>.text{
    background: none;
}


.redactor-modal{
    input, select, textarea{
        color: darken($textColor, 10%);
        background-color: $inputElementBgColor;
        border: 1px solid $hairlineColorAlpha;
        &:active, &:hover{
            color: darken($textColor, 10%);
            background-color: $inputElementBgColor;
            border: 1px solid $hairlineColorAlpha;
        }
        &:focus{
            color: darken($textColor, 10%);
            background-color: $inputElementBgColor;
            border-color: rgba($hairlineColorAlpha, 0.3) !important;
            box-shadow: none;
        }
    }
}

.input .redactor-box:not(.redactor-box-fullscreen) {
    border: 1px solid $hairlineColorAlpha;
    border-radius: $textBorderRadius;
}

.input .redactor-box.focus:not(.redactor-box-fullscreen) {
    border-color: rgba($hairlineColorAlpha, 0.3) !important;
}

.redactor-styles a,
.redactor-styles a:hover {
    color: $linkColor
}

.redactor-source,
.redactor-source:hover,
.redactor-source:focus {
    background-color: $inputElementBgColor;
}

.redactor-toolbar a.re-button-icon,
.redactor-toolbar a.re-button-icon:hover {
    background: #333;
    color: #666;
}

.redactor-dropdown {
    background-color: $menuBgColor;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
    a{
        color: $textColor;
        border-bottom: none;
    }
}

.redactor-dropdown a.redactor-dropdown-item-disabled {
    color: rgba($textColor, 0.4);
    background: $menuBgColor;
}

.redactor-dropdown-format .redactor-dropdown-item-blockquote {
    color: rgba($textColor, 0.4);
}

#main-container #main #main-content #content-container #tabs ul li a.sel:after {
    background: none;
}
#main-container #main #main-content #content-container #tabs ul li a:after {
    background: #202020;
}

.input .redactor-styles {
    h1, h2, h3, h4, h5, h6 {
        color: $textColor;
    }
    pre, pre code{
        background-color: #272424;
        color: #fff;
    }
    code, kbd, mark, pre, small, time, var {
        color: #fff;
    }
}

div#redactor-overlay {
    background: rgba(0,0,0,.75)!important;
}

div.redactor-modal {
    background: $menuBgColor;
}

.redactor-modal-header {
    color: $textColor;
}

.redactor-modal-footer {
    background-image: linear-gradient(darken($menuBgColor, 3%), darken($menuBgColor, 4%));
    box-shadow: inset 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}

.redactor-modal label{
    color: $mediumDarkTextColor;
    font-weight: bold;
}

.redactor-modal button{
    color: #fff;
    background-image: linear-gradient(#c66, #933);
    border:none;
    &:hover{
        background-image: linear-gradient(#bf4040, #732626);
        color: #fff;

    }
}

.redactor-modal button.redactor-button-danger,
.redactor-modal button.redactor-button-unstyled {
    color: $textColor;
    background: none;
    &:hover{
        background: none;
    }
}
