@import "mixins";

/****
* CraftSupportWidget.scss
*****/
.darkmode{
    .cs-screen-2 .cs-search-results-container {
      background: $lightBgColor;
    }

    .cs-screen-home .cs-opt:not(:first-child) {
      border-top: 1px solid $hairlineColor;
    }

    .cs-screen-home .cs-opt:hover {
      background: $lightBgColor;
    }
}

/****
* main.scss
****/

/* submit buttons */
.btn.submit {
  color: #fff;
  background-image: linear-gradient($submitColor, darken($submitColor, 20%));
  @include light-on-dark-text;
}

.btn.submit:not(.disabled):not(.inactive):hover,
.btn.submit:not(.disabled):not(.inactive).hover {
  background-image: linear-gradient($submitHoverColor, darken($submitHoverColor, 20%));
}

.btn.submit:not(.disabled):not(.inactive):active,
.btn.submit:not(.disabled):not(.inactive).active {
  background-image: linear-gradient($submitActiveColor, darken($submitActiveColor, 20%));
}

.secondary-buttons .btn.submit {
  background-image: linear-gradient($secondarySubmitColor, darken($secondarySubmitColor, 20%));
}

.secondary-buttons .btn.submit:not(.disabled):not(.inactive):active,
.secondary-buttons .btn.submit:not(.disabled):not(.inactive).active {
  background-image: linear-gradient($secondarySubmitActiveColor, darken($secondarySubmitActiveColor, 20%));
}

.secondary-buttons .btn.submit:not(.disabled):not(.inactive):hover,
.secondary-buttons .btn.submit:not(.disabled):not(.inactive).hover {
    background-image: linear-gradient(lighten($secondarySubmitHoverColor, 4%), darken($secondarySubmitHoverColor, 16%));
}

.modal,
.hud .body {
  background: $menuBgColor;
}

.btn {
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px rgba(245,245,245,0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  color: $textColor;
  &:focus {
    box-shadow: inset 0 0 0 1px $blue, 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  &:active,
  &.active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.025), 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 0.5px 1px rgba(0, 0, 0, 0.15);
  }
  &:not(.submit) {
    color: $textColor;
    background-image: linear-gradient(lighten($buttonBgColor, 4%),$buttonBgColor);

    &:hover{
        background-image: linear-gradient(lighten($buttonBgColor, 8%),lighten($buttonBgColor, 4%));
    }

    &:active,
    &.active {
      background-image: linear-gradient(lighten($buttonBgColor, 6%),lighten($buttonBgColor, 2%));
    }
  }

}

table thead th {
  color: rgba(255, 255, 255, 0.5);
  @include padding-right(14px);
}

table thead th.ordered {
  @include padding-right(14px);
  background: rgba(255,255,255,0.1) url(../images/listview_sort.png) no-repeat;
}

table thead th.orderable:hover {
  background-color: rgba(255,255,255,0.05);
  cursor:pointer;
}

input.checkbox + label:before,
div.checkbox:before {
  background: lighten($buttonBgColor, 10%);
  box-shadow: 0 0 0 1px $mediumHairlineColorAlpha;
}

.checkbox{
    color:$mediumTextColor;
}

.toolbar {
  &.fixed {
    background: $lightBgColor;
    //box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
}

.lightswitch{
    .label.off,
      &:not(.dragging):not(.on) .label.on {
        background: hsl($hue, 0%, 65%);
      }
}

ul.icons li a {
  border: 1px solid $lightBgColor;
}

ul.icons li a:hover {
  background-color: lighten($lightBgColor, 4%);
  border-color: $hairlineColor;
}

ul.icons li a svg *{
    fill: $mediumTextColor;
}

.select:not(.selectize) select {
  option {
    background: $buttonBgColor;
  }
}

.modal-shade {
  &:not(.dark) {
    background: rgba(0, 0, 0, 0.75) !important;
  }

  &.dark {
    background: rgba(0, 0, 0, 0.75) !important;
  }
}

.header,
.hud-header {
  background-image: linear-gradient($menuBgColor, $menuBgColor);
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}

.footer,
.hud-footer {
  background-image: linear-gradient(darken($menuBgColor, 3%), darken($menuBgColor, 4%));
  box-shadow: inset 0 2px 1px -2px rgba(0, 0, 0, 0.2);
}

.token:focus {
  border-color: $hairlineColorAlpha;
  background: $lightBgColor;
  outline: none;
}

table.editable tbody tr td {
    background: $lightBgColor;
    background-color: $lightBgColor;
}

.shadow-box {
  border: 1px solid $hairlineColor;
}

body.ltr table.editable tbody tr th ~ td:not(:first-child) {
    border-left: 1px solid $hairlineColor;
}

.customize-sources-item {
  background: $lightBgColor;
}
.customize-sources-item.sel {
  background: $darkSelColor;
}

.sidebar .customize-sources {
  color: rgba(255, 255, 255, 0.2);
}

/****
* _cp.scss
****/

#main-container #main #main-content #content-container #content {
    background-color: $lightBgColor;
}

@media only screen and (max-width: $minHorizontalUiWidth - 1px) {
  #main-container {
    #main {
      #main-content {
        #sidebar-toggle {
          body.showing-sidebar & {
            background: lighten($lightBgColor, 6%);
          }
        }
      }
    }
  }
}

#main-container #main #main-content #content-container #tabs ul li a.sel {
    background: $lightBgColor;
}

body.ltr #main-container #main #main-content #content-container #tabs ul li a.sel:after,
body.ltr #main-container #main #main-content #content-container #tabs ul li a:after {
    background: none;
}

#main-container #main #main-content #content-container #tabs:after {
    background: linear-gradient(to bottom, $lightBgColor, rgba($lightBgColor, 0));
}

#app-info {
  color: #da5a47;
  #edition #edition-logo {
    border: 1px solid #da5a47;
  }
}

.lp-editor-container, .lp-iframe-container {
    background: $lightBgColor;
}

#main-container #main #main-content #details .meta>.field>.heading>label, #main-container #main #main-content #details .meta>.field>.heading, #main-container #main #main-content #details .meta>.data>.heading>label, #main-container #main #main-content #details .meta>.data>.heading {
    color: $mediumDarkTextColor;
}

/****
* routes.scss
****/

body .route {
    background: $lightBgColor;
    box-shadow: 0 0 0 1px $hairlineColor;
    background-image: linear-gradient($lightBgColor, darken($lightBgColor, 1%));
    cursor: pointer;
}

body .route .uri-container {
    color: $linkColor;
    background-color: darken($lightBgColor, 4%);
}

body .route .uri-container:after {
  body.ltr & {
    background-image: url(images/route-bg.png);
  }
  body.rtl & {
    background-image: url(images/route-bg_rtl.png);
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx) {
    .route .uri-container:after {
        body.ltr #global-container & {
            background-image: url(images/route-bg_2x.png);
        }
        body.rtl #global-container & {
            background-image: url(images/route-bg_rtl_2x.png);
        }
    }
}

body .route-settings .uri-tokens {
  background: $inputElementBgColor;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/****
* _fld.scss
****/

.fld-tab.draghelper .tabs .tab,
.fld-tab.draghelper .fld-tabcontent,
.fld-field.draghelper {
  background: $lightBgColor;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
}

.fld-tab.draghelper .tabs .tab {
  border-bottom-color: #fff;
}


/****
* plugins.scss
****/

body #plugins tbody .plugin-infos .details .license-key .pane {
    background: #000;
}


/****
* pluginstore/main.scss
****/

body .ps-grid-wrapper ul.categories li:before,
body .ps-grid-wrapper ul.categories li:last-child:after{
    border-top: 1px solid $hairlineColor;
}

body ul.categories li a:hover {
    background: $darkSelColor;
    border-color: $hairlineColorAlpha;
}

body .plugin-card {
    border: 1px solid $hairlineColor;
    &:hover{
        background-color: $darkSelColor;
    }
}

/****
* pluginstore/modal.scss
****/

body #pluginstore-modal.step-plugin-details .plugin-details .plugin-details-header {
    border-bottom: 1px solid $hairlineColor;
}

body #pluginstore-modal.step-plugin-details .plugin-details .plugin-details-body .plugin-sidebar {
    background: $lightBgColor;
    border-left: 1px solid $hairlineColor;
    overflow: auto;
}

body #pluginstore-modal.step-plugin-details .plugin-details .plugin-details-body .plugin-sidebar .plugin-meta ul.plugin-meta-data li {
    border-bottom: 1px solid $hairlineColor;
}

body #pluginstore-modal.step-plugin-details .plugin-details .plugin-details-body .plugin-sidebar .plugin-meta ul.plugin-meta-data {
    border-bottom: 1px solid $hairlineColor;
}

/****
* dashboard.scss
****/

body .widget > .back > .pane {
  background: $lightBgColor;
}


/****
* Text input and redactor
****/

body textarea,
body .text:not(.selectize-text),
body .text:not(.fullwidth),
body .border-box,
body .matrix-configurator>.field>.input, .selectize-text>.selectize-control>.selectize-input,
body .redactor-box, body .redactor-box.redactor-styles-on,
body .input .redactor-styles{
    color: darken($textColor, 10%);
    background-color: $inputElementBgColor;
}

body .input .redactor-box:not(.redactor-box-fullscreen) {
    border: 1px solid $hairlineColorAlpha;
    border-radius: $textBorderRadius;
}

body .input .redactor-box.focus:not(.redactor-box-fullscreen) {
    border-color: rgba($hairlineColorAlpha, 0.3) !important;
}

body .redactor-styles a,
body .redactor-styles a:hover {
    color: $linkColor
}

body .redactor-source,
body .redactor-source:hover,
body .redactor-source:focus {
    background-color: $inputElementBgColor;
}

.redactor-toolbar a.re-button-icon,
.redactor-toolbar a.re-button-icon:hover {
    background: #333 !important; color: #666 !important;
}

.input .redactor-toolbar {
    border-color: #333 !important;
}

body.ltr #main-container #main #main-content #content-container #tabs ul li a.sel:after {
    background: none;
}
body.ltr #main-container #main #main-content #content-container #tabs ul li a:after {
    background: #202020;
}
